@using DarnTheLuck.ViewModels
@model TicketViewModel

@if (Model == null)
{
    <h1>No Details</h1>
}
else
{
<div>Ticket Status: @Model.Status</div>
<div>Ticket Id: @Model.TicketId</div>
<div>Created: @Model.Created</div>
<div>Name: @Model.ContactName</div>
<div>Notes: @Model.TicketNotes</div>
}