@using DarnTheLuck.ViewModels
@model TicketViewModel

@if (Model == null)
{
    <h1>No Details</h1>
}
else
{
    <div>Ticket Status: @Model.Status</div>
    <div>Ticket Id: @Model.TicketId</div>
    <div>Created: @Model.Created</div>
    <div>Name: @Model.ContactName</div>
    <div>Notes: @Model.TicketNotes</div>

    <div>@Model.ContactPhone</div>
    <div>@Model.ContactEmail</div>
    <div>@Model.Model</div>
    <div>@Model.Serial</div>
    <div>@Model.TechName</div>
    <div>@Model.TechEmail</div>
}