@using DarnTheLuck.Helpers;
@using DarnTheLuck.ViewModels;

@model PaginatedList<TicketListViewModel>

@{
    string[][] columns = new string[][] {
                new string []{ "Status", "status" },
                new string []{ "Created", "created"},
                new string []{ "Model", "model" },
                new string []{ "Serial #", "serial" },
                new string []{ "Ticket #", "ticket" }
    };
}

<div class="container-fluid overflow-auto">
    <div class="row ticket-head text-center flex-nowrap text-nowrap">
        @foreach (string[] col in columns)
        {
            if (ViewBag.sort == col[1])
            {
                string flipSort = string.IsNullOrEmpty(ViewBag.sortDir) ? "descending" : string.Empty; 
                <div class="col d-txt">
                    <a class="text-decoration-none" style="color:@(string.IsNullOrEmpty(ViewBag.sortDir) ? "#ffff00" : "#ff8000")" asp-controller="Ticket" asp-action="Index" asp-route-sort="@col[1]" asp-route-sortDir="@flipSort">@col[0]</a>
</div>
            }
            else
            {
                <div class="col d-txt">
                    <a class="text-decoration-none" style="color:white" asp-controller="Ticket" asp-action="Index" asp-route-sort="@col[1]">@col[0]</a>
                </div>
            }
        }
    </div>
    @foreach (TicketListViewModel ticket in Model)
    {
        <a asp-controller="Ticket" asp-action="Details" asp-route-Id="@ticket.TicketId" class="text-decoration-none text-dark ticket-created">
            <div class="row text-center ticket-round border border-dark t-@ticket.Status">
                <div class="col d-txt">@ticket.Status</div>
                <div class="col d-txt">@ticket.Created.ToString("MM/dd/yy")</div>
                <div class="col d-txt">@ticket.Model</div>
                <div class="col d-txt">@ticket.Serial</div>
                <div class="col d-txt">@ticket.TicketId</div>
            </div>
        </a>
    }
</div>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sort="@ViewBag.sort"
   asp-route-sortDir="@ViewBag.sortDir"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sort="@ViewBag.sort"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-sortDir="@ViewBag.sortDir"
   class="btn btn-default @nextDisabled">
    Next
</a>
<hr />
<div class="text-center">
    <h1><a asp-controller="Ticket" asp-action="Create">Create New Ticket</a></h1>
</div>